@import '../../common/styles/themes/faint';

/* strong {
  color: var(--color-orange);
  font-size: 2.1rem;
  font-weight: bold;
}

li:before {
  color: var(--color-main);
  margin-right: 10px;
} */

__bg.sample-background {
  background: url('./images/magic.gif');
}

__bg.webpack {
  background: #14aaf3;
}

__bg.postcss {
  background: var(--color-red);
}
