@import "../../common/style/variable";
@import "../../common/style/mixins";

@font-face {
  font-family: Stratum;
  src: url("../../common/fonts/StratumNo1 Medium.ttf");
}

.bespoke-parent {

 /* stylelint-disable */
  font-family: Stratum, "Helvetica Neue For Number", "Hiragino Kaku Gothic ProN", "メイリオ", Arial, sans-serif;
  /* stylelint-enable */
}

.bespoke-backdrop {
  background: var(--color-gray);
}

.bespoke-backdrop.title {
  background: var(--color-node);
}

.bespoke-backdrop.section-title {
  background: var(--color-main);
}

.bespoke-backdrop.end {
  background: var(--color-js);
}

.section-title h2 {
  color: var(--color-js);
}

h2 {
  color: var(--color-js);
}

strong {
  color: var(--color-orange);
  font-size: 2.1rem;
  font-weight: bold;
}

img {
  width: 90%;
}

.nodejs {
  @mixin icon "../../common/images/nodejs.png";
  height: 90px;
  width: 90px;
}

.demo {
  border: none;

  & > img {
    width: 50%;
  }
}
