{
  "extends": "stylelint-config-sky",
  "rules": {
    "declaration-no-important": null,
    "selector-no-id": null,
    "selector-max-compound-selectors": null,
    "no-descending-specificity": null
  }
}
