@import "fusuma/src/frontend/assets/style/variable";

.bespoke-backdrop {
  background: var(--color-gray);
}

.bespoke-backdrop.title {
  background: var(--color-node);
}

.bespoke-backdrop.section-title {
  background: var(--color-main);
}

.bespoke-backdrop.end {
  background: var(--color-js);
}

.section-title h2 {
  color: var(--color-js);
}

h2 {
  color: var(--color-js);
}

strong {
  color: var(--color-orange);
  font-size: 2.1rem;
  font-weight: bold;
}

img {
  width: 90%;
}

.bespoke {
  @mixin icon "./images/bespoke.png";
}

.flow-line {
  font-size: 2.2rem;
}

.presenter-host-image {
  width: 50%;
}

.lib-list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & > div {
    margin: 0 10px;
  }

  & .react {
    @mixin icon "./images/react.png", 150px, 150px;
  }

  & .babel {
    @mixin icon "./images/babel.png", 150px, 150px;
  }

  & .webpack {
    @mixin icon "./images/webpack.png", 100px, 100px;
  }

  & .postcss {
    @mixin icon "./images/postcss.png", 80px, 80px;
  }

  & .cssnext {
    @mixin icon "./images/cssnext.svg", 80px, 80px;
  }
}
