@import "./variable";

:root {
  --icon-size: 150px;
}

a {
  padding-left: 0;
}

.profile {
  &-avatar {
    border-radius: 50%;
    height: var(--icon-size);
    margin: 20px 0;
    width: var(--icon-size);
  }

  &-name {
    margin: 0;
  }

  &-sns {
    display: flex;
    justify-content: center;

    & > a {
      border: none;
    }
  }

  &-info {
    display: flex;
    margin: 20px 0;
    text-align: left;
  }
}

.bespoke-backdrop.profile {
  background: var(--color-main);
}

.bespoke-backdrop.js {
  background: var(--color-js);
}

.bespoke-backdrop.node {
  background: var(--color-node);
}

.bespoke-backdrop.black {
  background: var(--color-black);
}

.card {
  display: flex;

  &-text {
    border-left: 3px solid #777;
    padding-left: 20px;
    position: relative;
    text-align: left;

    & > .title {
      border: none;
      color: var(--color-main);
      display: block;
      font-size: 1.7rem;
      text-decoration: none;
    }

    & > .description {
      font-size: 1.2rem;
    }

    & > a {
      bottom: 0;
      display: block;
      font-size: 1rem;
      position: absolute;
    }
  }

  & > img {
    padding: 0 20px;
  }
}

.list {
  display: flex;
  margin-top: 50px;

  & > ul {
    list-style: none;
    margin: 0 50px;

    li {
      padding: 0;
    }
  }
}

.left-box {
  text-align: left;
}

.ref-link {
  bottom: 10px;
  font-size: 1rem;
  position: absolute;
  right: 20px;
}

.common-table {
  margin: 10px;
  text-align: left;

  & > thead {
    border-bottom: 2px solid var(--color-main);
  }

  & th {
    padding: 5px 10px;
  }

  & td {
    padding: 5px 10px;
  }
}

li {
  margin: 0;
}

pre {
  border-radius: 10px;
  font-size: .9rem;

  & code {
    background: var(--color-white) !important;
    padding: 20px !important;
  }
}
