@import "./variable";

:root {
  --icon-size: 150px;
}

.profile {
  &-icon {
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &-info {
    display: flex;
  }
}

.bespoke-backdrop.profile {
  background: var(--main-color);
}
