.social-buttons {
  bottom: 10px;
  left: 10px;
  position: fixed;

  & > iframe {
    display: block;
    margin: 5px 0;
  }

  & > #twitter-widget-0 {
    height: 30px !important;
    width: 80px !important;
  }
}
