@import "fusuma/src/frontend/assets/style/variable";
@import "fusuma/src/frontend/assets/style/mixins";

.bespoke-backdrop.title {
  background: var(--color-node);
}

.bespoke-backdrop.section-title {
  background: var(--color-main);
}

.bespoke-backdrop.end {
  background: var(--color-js);
}

.nodejs {
  @mixin icon "../../common/images/nodejs.png";
  height: 90px;
  width: 90px;
}

.demo {
  border: none;

  & > img {
    width: 50%;
  }
}
