@import "fusuma/src/frontend/assets/style/variable";
@import "fusuma/src/frontend/assets/style/mixins";

strong {
  color: var(--color-orange);
  font-size: 2.1rem;
  font-weight: bold;
}

pre {
  font-size: 1rem;
}

.define {
  color: var(--color-orange);
  font-weight: bold;
}

.bespoke-backdrop.danger {
  background: #c44444;
}

.bespoke-backdrop.title {
  background: #ff0;
}

.bespoke-backdrop.whatwg {
  background: #3c790a;
}

.bespoke-backdrop.info {
  background: var(--color-orange);
}

.bespoke-backdrop.end {
  background: var(--color-main);
}

li:before {
  color: var(--color-main);
  margin-right: 10px;
}

.active-collaborators-team {
  margin: 10px 0;
}

.active-collaborators {
  & a {
    border: none;
    padding-left: 0;
    text-decoration: none;
  }

  & img {
    height: 100px;
    margin: 10px;
    width: 100px;
  }
}

.list {
  display: flex;
  margin-top: 50px;

  & p {
    font-size: 1.7rem;
  }

  & > div {
    margin: 0 100px;
    text-align: left;
  }
}

.card {
  margin: 0 50px 20px;
}

#table + pre {
  font-size: 0.9rem;
}
