@import '../../common/styles/themes/javascript';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

.zero {
  background-image: url('./images/event-loop-of-cat.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
