@import '../../common/styles/themes/javascript';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

:root {
  --color-webpack: #8ed6fb;
}

.webpack {
  background: var(--color-webpack);
}

.history-container {
  & > div:not(:last-child) {
    margin-bottom: 12px;
  }
}

__section-title {
  background: var(--color-webpack);
}

.section-title h2 {
}

.module-bundler {
  width: 70%;
}

.description-logo {
  display: block;
  margin: auto;
  width: 120px;
}

.icon {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}
